<h1 style='color: green'>Decision Tree</h1>

<p>
    The decision tree algorithm recursively splits data into subsets based on the most informative features to create a tree like structure for making <i>classification or regression decisions.</i>
</p>

<div align='center'>
    <img src='decisionTree.png' width=500>
</div>

In [14]:
# importing the necessary modules
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

import warnings 
warnings.filterwarnings('ignore')

In [3]:
# load the dataset
data = pd.read_csv('salaries.csv')
data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
# splitting x and y

x = data.drop('salary_more_then_100k', axis=1)
y = data['salary_more_then_100k']

In [6]:
x.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

<i>since machine learning supports only numberic values as inputs so, </i> <b>use label encoder</b>

In [7]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

x['company'] = le_company.fit_transform(x['company'])
x['job'] = le_job.fit_transform(x['job'])
x['degree'] = le_degree.fit_transform(x['degree'])

In [12]:
x

    company  job  degree
0         2    2       0
1         2    2       1
2         2    0       0
3         2    0       1
4         2    1       0
5         2    1       1
6         0    2       1
7         0    1       0
8         0    0       0
9         0    0       1
10        1    2       0
11        1    2       1
12        1    0       0
13        1    0       1
14        1    1       0
15        1    1       1

`notations`:-

1. google = 2
2. abc = 0
3. facebook = 1
<br>
1. sales executive = 2
2. business manager = 0
3. computer programmer = 1
<br>
1. bachelor = 0
2. masters = 1

In [10]:
# create the model
model = DecisionTreeClassifier()
model.fit(x, y)

DecisionTreeClassifier()

In [11]:
model.score(x, y)

1.0

### Question:-

1. if the salary is more than 100K for computer programmer, masters in google
1. if the salary is more than 100K for computer programmer, masters in facebook

In [17]:
google_computer_programmer_masters = model.predict([[2, 1, 1]])
facebook_computer_programmer_masters = model.predict([[1, 1, 1]])

In [19]:
print(f"if the salary is more than 100K for computer programmer, masters in google is = {google_computer_programmer_masters}")
print(f"if the salary is more than 100K for computer programmer, masters in facebook is = {facebook_computer_programmer_masters}")

if the salary is more than 100K for computer programmer, masters in google is = [1]
if the salary is more than 100K for computer programmer, masters in facebook is = [1]