<h1 style='color: blue'>Naive Bayas</h1>

#### Example 1:-
<p>when we toss a coin, we will definitely get head or tail, the probability of getting head P(head) is 0.5 and probability of getting tail is p(tail) is 0.5</p>

#### Example 2:-
<p>In a card, the probability of getting queen is 1/13, because, in a card there are 4 queen and total card is 52, then 4/52 is 1/13</p>

<h3 style='color: violet'>The case in Conditional Probalility</h3>

<p>When the probability of getting diamond, and the getting card is queen, <b>P(queen/diamond)</b> to find.</p>

<div align='center'>
    <img src='bayes.png' width=500>
</div>

<pre>
    then,
        the <b>P(queen/diamond)</b> = <b>P(diamond/queen)*P(queen)</b>/<b>P(diamond)</b>
    
    <b>P(queen)</b> : <i>out of 52 cards only 4 queen, therefore 5/52 is = <b>1/13</b></i>
    <b>P(diamond)</b> : <i>out of 52 cards there are 13 diamond cards therefore 13/52 is = <b>1/4</b></i>
    <b>P(diamond/queen)</b> : <i>out of 52 cards there are 4 queen, out of 4 queen there is only one diamond 
    queen therefore 1/4 is =  <b>1/4</b></i>
    
    <b>P(queen/diamond)</b> = <b>(1/4)*(1/13)</b>/<b>(1/4)</b> = <b><i>1/13</i></b>
    
</pre>

In [1]:
# imorting the modules
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
import pandas as pd
import numpy as np

In [3]:
# load the dataset
dataset = pd.read_csv('titanic.csv')
dataset.head(3)

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1

*from the above dataset, we don't need Name Passenget Id and some columns, bu using name and id, it will not affect the survived precisions, so we can take the valid input features.*

In [4]:
x = dataset[['Pclass', 'Sex', 'Age', 'Fare']]
y = dataset['Survived']

In [6]:
x.head(3)

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250

**`note`** : *in Sex column, it consist the alphabetic characters, but the machine learning algorithm takes only the numeric characters as an inputs*

In [7]:
# preprocessing the datasets
dummies = pd.get_dummies(x['Sex'])

In [9]:
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [10]:
x = pd.concat([x, dummies], axis=1)

In [11]:
x.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

Now, the Sex column is not to use, drop the sex column

In [12]:
x.drop('Sex', axis=1, inplace=True)

In [13]:
x.head(3)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0

In [18]:
# checking the model contains any NaN values
x.isna().any()

Pclass    False
Age        True
Fare      False
female    False
male      False
dtype: bool

`note` : *in `Age` column there is an NaN Values, so we must place the missing values or NaN values*
<br>
it is best to practice to fill the NaN as `median`, because mean() will defere from lower and higher bounds.

In [19]:
x['Age'].median()

28.0

In [22]:
x['Age'].fillna(x['Age'].median(), inplace=True)

In [23]:
x.isna().any()

Pclass    False
Age       False
Fare      False
female    False
male      False
dtype: bool

By verifying that there is no NaN values,

In [24]:
# splitting the model for training and testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=7)

In [25]:
# creating the model
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

### Predicting the Score

In [26]:
model.score(x_test, y_test)

0.7430167597765364

we Can't say this score is valid, we need to cross validate the score

In [30]:
crossvalidate = cross_val_score(GaussianNB(), x_train, y_train, cv=20)

In [36]:
print(f"score: {round(crossvalidate.mean()*100)}%")

score: 79%

the score is 79%