In [29]:
# importing the modules
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from math import floor

import warnings
warnings.filterwarnings('ignore')

In [30]:
# load the dataset
data = pd.read_csv('hiring.csv')
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

### preprocessing the data

   1. **in experience column it consist two missing data**, 
   2. **int test score column 1 missing value**

In [31]:
data.experience = data.experience.fillna('zero')
data['test_score(out of 10)'] = data['test_score(out of 10)'].fillna(data['test_score(out of 10)'].median())
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

**`note`** : *though the model is preprocessed, in machine learning it dosent suppot the alphanumeric characters whiile training*

In [32]:
data.experience = data.experience.replace(['zero', 'five', 'two', 'seven', 'three', 'ten', 'eleven'],[0, 5, 2, 7, 3, 10, 11])

data

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [33]:
# splitting x and y datasets
x = data.drop(['salary($)'], axis=1)
y = data['salary($)']

In [34]:
# creating the model 
linear_regression_model = LinearRegression()

# fit the model
linear_regression_model.fit(x, y)

LinearRegression()

## Question:
   
   1. find the person salary where 2years experience, 9 test score and 6 in interview score
   2. find the person salary where 12 years experience, 10 in both test and interview score

In [35]:
linear_regression_model.predict([[2, 9, 6]])

array([53205.96797671])

In [37]:
linear_regression_model.predict([[12, 10, 10]])

array([92002.18340611])

### by using the tradition mathematical method

here there are 3 variables, then there are 3 slope and 1 intercept

In [40]:
slope = linear_regression_model.coef_
intercept = linear_regression_model.intercept_

print(f"slope (m) is {slope}")
print(f"intercept (c) is {intercept}")

slope (m) is [2812.95487627 1845.70596798 2205.24017467]
intercept (c) is 17737.26346433771

In [41]:
person_2_9_6 = 2*slope[0]+9*slope[1]+6*slope[2]+intercept
person_12_10_10 = 12*slope[0]+10*slope[1]+10*slope[2]+intercept

print(f"person salary with 2 years experience and test score is {person_2_9_6}")
print(f"person salary with 12 years experience and test score is {person_12_10_10}")

person salary with 2 years experience and test score is 53205.96797671034
person salary with 12 years experience and test score is 92002.18340611353